.cat-breed-card-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;
    height: 17rem;
    background-color: var(--first-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    margin: 1rem;
}

.cat-breed-card-wrapper:hover {
    cursor: pointer;
}

.cat-breed-img {
    position: relative;
    top: .5rem;
    height: 10rem;
    width: auto;
    border: 1px solid var(--second-color);
    transition: transform 0.3s ease-in-out
}

.cat-breed-img:hover {
    transform: scale(1.1);
}

.cat-breed-name {
    color: var(--third-color);
    font-size: 1.6rem;
}

/*----------------// brake-point //----------------*/
@media screen and (max-width: 330px){
    .cat-breed-img {
        width: 60vw;
        height: auto;
    }

    .cat-breed-name {
        font-size: 1.1rem;
    }
}