header {
    background-color: var(--first-color);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--second-color);
    margin-top: 1.6rem;
}

h1 {
    color: var(--third-color);
    font-family: var(--logo-font);
    font-weight: var(--title-weight);
    font-style: normal;
    font-size: 2.5rem;
    /* border: 1px solid black; */
}

.whisker-logo {
    position: relative;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid black; */
}

footer {
    color: var(--third-color);
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border: 2px solid var(--second-color);
}
