:root {
  --first-color: #F2F2F2;
  --second-color: #8C7370;
  --third-color: #401E1B;
  --fourth-color: #BFAE9F;
  --fith-color: #0E2759;

  --logo-font: "Ribeye Marrow", serif;
  --body-font: "Montserrat", sans-serif;

  --title-weight: 700;
  --body-weight: 500;
}

body {
  background-color: var(--fourth-color);
  margin: 0;
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: var(--body-weight);
  font-style: normal;

  a {
    text-decoration: none;
    color: inherit;
  }
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transform: scale(1.1);
}

/* .montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
} */