:root {
  --first-color: #F2F2F2;
  --second-color: #8C7370;
  --third-color: #401E1B;
  --fourth-color: #BFAE9F;
  --fith-color: #0E2759;
}


body {
background-color: var(--fourth-color);
margin: 0;
}
