nav {
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--third-color);
}

.nav-item {
    width: 10rem;
    color: white;
    background-color: var(--nav-color);
    padding: 0.4rem;
    /* border: 1px solid var(--third-color); */
}