.sinlge-cat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-cat-all-wrapper {
    width: 95%;
    font-weight: 500;
    color: var(--third-color);
    background-color: var(--first-color);
    border: 1px solid var(--third-color);
    margin-top: 1rem;
}

.add-to-favorites-button {
    background-color: var(--second-color);
    color: white;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: var(--body-weight);
    font-style: normal;
    padding: .5rem;
    border-style: double;
    border-color: var(--third-color);
    border-radius: 5px;
    margin: 1rem;
    transition: transform 0.3s ease-in-out
}

.add-to-favorites-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transform: scale(1.1);
}

.sc-breed-name {
    font-size: 2rem;
    /* color: var(--third-color); */
    margin-left: 1rem;
}

.sc-breed-image {
    height: 14rem;
    border: 1px solid var(--third-color);
    margin-left: 1rem;
}

.single-cat-img-des-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sc-content-title {
    color: var(--fith-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.sc-content {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.sc-content-weight {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.wrapper-weight-lifespan-country {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

/*---------------------// Rated Trait //---------------------*/
.sc-rated-trait-content {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.all-rated-traites-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rated-traites-wrapper {
    display: flex;
    flex-direction: column;
}

.trait-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.rated-trait-content-title {
    color: var(--fith-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.rated-trait-content {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 0.3rem;
}