.single-breed-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: var(--second-color);
    color: white;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: var(--body-weight);
    font-style: normal;
    padding: .5rem;
    border-style: double;
    border-color: var(--third-color);
    border-radius: 5px;
    margin: 1rem;
    transition: transform 0.3s ease-in-out
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transform: scale(1.1);
}

.sinlge-cat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-cat-all-wrapper {
    width: 95%;
    font-weight: 500;
    color: var(--third-color);
    background-color: var(--first-color);
    border: 1px solid var(--third-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-to-favorites-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-to-favorites-button {
    background-color: var(--fourth-color);
    color: var(--fith-color);
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: var(--body-weight);
    font-style: normal;
    padding: .5rem;
    border-style: double;
    border-color: var(--fith-color);
    border-radius: 5px;
    margin: 1rem;
    transition: transform 0.3s ease-in-out
}

.single-cat-breed-name {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 0;
}

/*--------------------// image & Description //-------------------------*/
.single-cat-breed-image {
    height: 14rem;
    border: 1px solid var(--third-color);
    margin-left: 1rem;
}

.single-cat-img-des-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.description-wrapper {
    width: 54vw;
}

/*---------------------------// Content //--------------------------*/
.single-cat-content-title {
    color: var(--fith-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
}

.single-cat-content {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.single-cat-content-temperment {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.single-cat-content-weight {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.wrapper-weight-lifespan-country {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

/*---------------------// Traits //---------------------*/
.single-cat-trait-content {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.all-traites-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.traites-wrapper {
    display: flex;
    flex-direction: column;
}

.trait-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.trait-content-title {
    color: var(--fith-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-bottom: .5rem;
}

.trait-content {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.other-traits-content-title {
    color: var(--fith-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

/*----------------------// URL links //------------------------*/
.url-links {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 0.3rem;
}

.url-links:hover {
    color: var(--fith-color);
    font-weight: 700;
    text-decoration: underline;
}

.bottom {
    margin-bottom: 2rem;
}

/*-----------------// Rreactive brake-points //----------------*/

/* 843px */
@media screen and (max-width: 843px) {
    .all-traites-wrapper {
        justify-content: flex-start;
    }

    .wrapper-weight-lifespan-country {
        justify-content: flex-start;
    }

    .description-wrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 395px) {
    /* .sinlge-cat-section {
        font-size: 1.6rem;
    } */
    .single-cat-breed-image {
        width: 85vw;
        height: auto;
    }

    .single-cat-content-title {
        font-size: 1.4em;
    }

    .single-cat-content,
    .single-cat-content-temperment,
    .single-cat-content-weight,
    .single-cat-trait-content,
    .trait-content-title,
    .trait-content  {
        font-size: 1rem;
    }
}